div.container {
    text-align: center;
}

img.fit {
    max-width: 90vw;
    max-height: 90vh;
    height: auto;
}

.imagegrid {
    display: flex;
    align-items: center;
}

.imageitem {
    margin-right: 10px;
}
