<div *ngIf="image">
  <div class="container">
    <img class="fit" src="/api/v1/image/{{image}}">
  </div>
</div>
<div>
  <div class="vertspace"></div>
  <div class="imagegrid">
    <button md-raised-button (click)="close()" class="imageitem">Close</button>
    <button md-raised-button color="warn" (click)="deleteImage()" class="imageitem">{{deleteText}}</button>
    <md-select placeholder="Share" ngModel (ngModelChange)="setShare($event)" class="imageitem">
      <md-option value="Full">Full</md-option>
      <md-option *ngFor="let resize of resizes" [value]="resize">{{resize}}</md-option>
    </md-select>
    <md-input-container class="md-block fill">
      <input mdInput floatingPlaceholder="false" [value]="share">
    </md-input-container>
  </div>
</div>
