.preview-wrapper {
    display: flex;
    flex-flow: row wrap;
    background-color: #fff;
    color: #444;
    align-items: center;
    padding: 0;
    margin: 0;
}

:host /deep/ .preview-item {
    background-color: #ddd;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin: 0px 10px 10px 0px;
    font-size: 150%;
}
