<div *ngIf="!authenticated">
  <p>Authenticate here</p>
  <div *ngFor="let authenticator of authenticators">
    <div><a href="/api/v1/auth/{{authenticator}}">{{authenticator}}</a></div>
  </div>
</div>
<div *ngIf="authenticated">
  <div>
    <md-toolbar>
      {{title}}
      <span class="fill"></span>
      <button md-raised-button (click)="openModal('upload')">Upload</button>
    </md-toolbar>
    <div class="vertspace"></div>
    <div *ngIf="images">
      <app-image-grid [images]="images"></app-image-grid>
    </div>
  </div>
  <app-modal id="upload">
    <div class="modal">
      <div class="modal-body">
	<app-upload></app-upload>
      </div>
    </div>
    <div class="modal-background"></div>
  </app-modal>
  <app-modal id="image">
    <div class="modal">
      <div class="modal-body">
	<app-image></app-image>
      </div>
    </div>
    <div class="modal-background"></div>
  </app-modal>
</div>
